{% extends 'base.html.twig' %}

{% block title %}TradeError index{% endblock %}

{% block body %}
    <h1>TradeError index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for trade_error in trade_errors %}
            <tr>
                <td>{{ trade_error.id }}</td>
                <td>{{ trade_error.name }}</td>
                <td>
                    <a href="{{ path('app_trade_error_show', {'id': trade_error.id}) }}">show</a>
                    <a href="{{ path('app_trade_error_edit', {'id': trade_error.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_trade_error_new') }}">Create new</a>
{% endblock %}
