{% extends 'base.html.twig' %}

{% block title %}Setup index{% endblock %}

{% block body %}
    <h1>Setup index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for setup in setups %}
            <tr>
                <td>{{ setup.id }}</td>
                <td>{{ setup.name }}</td>
                <td>
                    <a href="{{ path('app_setup_show', {'id': setup.id}) }}">show</a>
                    <a href="{{ path('app_setup_edit', {'id': setup.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_setup_new') }}">Create new</a>
{% endblock %}
